@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
    /* Colors */
    --LIGHT-GRAY: hsl(212, 45%, 89%);
    --BG-CARD: hsl(0, 0%, 100%);
    --TITLE: hsl(218, 44%, 22%);
    --CAPTION: hsl(220, 15%, 55%);

    /* Fonts */
    --FF: "Outfit", sans-serif;
    --FS: 15px;
    --FW-NORMAL: 400;
    --FW-BOLD: 700;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--LIGHT-GRAY);
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100dvh;
    display: grid;
    place-content: center;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: var(--BG-CARD);
    border-radius: 15px;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 0 50px hsla(220, 15%, 55%, 35%);
}

@media (max-width: 375px) {
    .card {
        width: 90vw;
    }
}

.card__title {
    color: var(--TITLE);
    text-align: center;
    font-size: 1.5em;
    padding: 0 0.5rem;
}

.card__caption {
    color: var(--CAPTION);
    text-align: center;
    font-size: 1em;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
